:root {
    --color: #aaa;
    --background: #000;
    --size: 1;
    --animation: terminal-blink;
}  

body {
    font-family: 'Terminal', monospace;
    background-color: black;
    color: white;
    font-size: 1rem;
    height: 100vh;
    padding: 1rem;
}

#terminal {
    height: 80%;
    margin-bottom: 1rem;
    overflow-y: auto;
    padding: 1rem;
}

#output {
    font-family: 'Terminal', monospace;
    display: flex;
    flex-direction: column; 
}

#command-input:focus {
    outline: none;
}

#input {
    display: flex;
}

#prefix {
    display: inline-block;
    color: var(--color);
    margin-right: 0.5rem;
    white-space: nowrap;
}

#command-input {
    font-family: 'Terminal', monospace; 
    background-color: transparent;
    border: none;
    color: white;
    align-self: flex-end;
    font-size: 1rem;
    margin: 0;
    outline: none;
    padding: 0;
    width: calc(100% - 50px);
}
  